/* Global styles */
* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Arial', sans-serif;
}

/* Full Page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

h1 {
    font-size: 1.1em;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
    padding-bottom: 10px;
}

/* Footer styles */
footer {
    border-top: 1px solid lightgrey;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
}

h4 {
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 0.9em;
}

/* Form styles */
:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.input {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

div.input label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background: white;
    padding: 5px 2px;
}

div.input input {
    padding: 10px 10px;
    font-size: 25px;
    outline: 0;
}

div.message {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

div.message label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background: white;
    padding: 5px 2px;
}

div.message textarea {
    padding: 10px 10px;
    padding-bottom: 80px;
    font-size: 25px;
    outline: 0;
}

textarea {
    resize: none;
}